@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    Enhanced nop blogs Plugin by NopAdvance team                         *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model AddProductToBlogPostSearchModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T(LocaleResourceDefaults.BLOG_POST_PRODUCT_MODEL_TITLE_ADDNEW).Text;
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.getElementById("@Context.Request.Query["btnId"]").click();}
        catch (e){}
        window.close();
    </script>
}
else
{
    <form asp-controller="NopAdvanceEnhancedNopBlogs" asp-action="ProductBlogAddPopup"
          asp-route-productId="@Context.Request.Query["productId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]">
        <div class="content-header clearfix">
            <h1 class="float-left">
                @T(LocaleResourceDefaults.BLOG_POST_PRODUCT_MODEL_TITLE_ADDNEW)
            </h1>
            <div class="float-right">
                &nbsp;
            </div>
        </div>
         <section class="content">
            <div class="container-fluid">
                <div class="form-horizontal">
                    <div class="cards-group">
                        <div class="card card-default card-search card-popup">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <div class="col-sm-5">
                                                <nop-label asp-for="SearchBlogName" />
                                            </div>
                                            <div class="col-sm-7">
                                                <nop-editor asp-for="SearchBlogName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-default">
                            <div class="card-body">
                                @await Html.PartialAsync("Table", new DataTablesModel
                                {
                                    Name = "products-grid",
                                    UrlRead = new DataUrl("ProductBlogAddPopupList", "NopAdvanceEnhancedNopBlogs", null),
                                    SearchButtonId = "search-products",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                    {
                                        new FilterParameter(nameof(Model.SearchBlogName)),
                                    },
                                    ColumnCollection = new List<ColumnProperty>
                                    {
                                        new ColumnProperty(nameof(BlogPostModel.Id))
                                        {
                                            IsMasterCheckBox = true,
                                            Render = new RenderCheckBox(nameof(AddProductToBlogPostModel.SelectedBlogIds)),
                                            ClassName = NopColumnClassDefaults.CenterAll,
                                            Width = "50"
                                        },
                                        new ColumnProperty(nameof(BlogPostModel.Title))
                                        {
                                            Title = T("NopAdvance.Plugin.EnhancedNopBlogs.Admin.EnhancedNopBlogMapping.GridFields.BlogTitle").Text
                                        },
                                    }
                                })
                            </div>
                            <div class="card-footer">
                                <button type="submit" name="save" class="btn btn-primary">
                                    <i class="far fa-save"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
}